<div class="global-header">
  <nav>
    <ul id="wb-tphp">
      <li class="wb-slc">
        <a class="wb-sl" href="#wb-cont">
          <ng-container *transloco="let t">
            {{ t("skip.to.content") }}
          </ng-container>
        </a>
      </li>
      <li class="wb-slc">
        <a class="wb-sl" href="#wb-info">
          <ng-container *transloco="let t">
            {{ t("skip.to.about.gov") }}
          </ng-container>
        </a>
      </li>
    </ul>
  </nav>
  <header>
    <div id="wb-bnr" class="container">
      <div class="row">
        <section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
          <h2 class="wb-inv">
            <ng-container *transloco="let t">
              {{ t("language.selection") }}
            </ng-container>
          </h2>
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline mrgn-bttm-0">
                <li>
                  <button
                    type="button"
                    class="btn btn-link"
                    *ngIf="selectedLang === 'fr'"
                    (click)="setActiveLang('en')"
                  >
                    English
                  </button>
                  <button
                    type="button"
                    class="btn btn-link"
                    *ngIf="selectedLang === 'en'"
                    (click)="setActiveLang('fr')"
                  >
                    Fran&ccedil;ais
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <div
          class="brand col-xs-9 col-sm-5 col-md-4"
          property="publisher"
          resource="#wb-publisher"
          typeof="GovernmentOrganization"
        >
          <a href="/" property="url">
            <img
              src="/assets/img/sig-blk-en.svg"
              alt="Government of Canada"
              property="logo"
            />
            <span class="sr-only">
              <ng-container *transloco="let t">
                {{ t("government.of.canada") }}
              </ng-container>
            </span>
          </a>
          <meta property="name" content="Government of Canada" />
          <meta property="areaServed" typeof="Country" content="Canada" />
          <link property="logo" href="/assets/img/wmms-blk.svg" />
        </div>
        <section
          id="wb-srch"
          class="
            col-lg-offset-4
            col-md-offset-4
            col-sm-offset-2
            col-xs-12
            col-sm-5
            col-md-4
          "
        >
          <h2 class="sr-only">
            <ng-container *transloco="let t">
              {{ t("search") }}
            </ng-container>
          </h2>
          <form
            ngNoForm
            action="https://www.canada.ca/en/sr/srb.html"
            method="get"
            name="cse-search-box"
            role="search"
          >
            <div class="form-group float-right" id="wb-srch-box">
              <label for="wb-srch-q" class="sr-only">
                <ng-container *transloco="let t">
                  {{ t("search.in.canada") }}
                </ng-container></label
              >
              <input name="cdn" value="canada" type="hidden" />
              <input name="st" value="s" type="hidden" />
              <input name="num" value="10" type="hidden" />
              <input name="langs" [value]="selectedLang" type="hidden" />
              <input name="st1rt" value="1" type="hidden" />
              <input name="s5bm3ts21rch" value="x" type="hidden" />
              <input
                id="wb-srch-q"
                list="wb-srch-q-ac"
                class="wb-srch-q form-control"
                name="q"
                type="search"
                value=""
                [placeholder]="'search.in.canada' | transloco"
                size="34"
                maxlength="170"
              />
              <input type="hidden" name="_charset_" value="UTF-8" />
              <datalist id="wb-srch-q-ac"></datalist>
            </div>
            <div class="form-group submit">
              <button
                type="submit"
                id="wb-srch-sub"
                class="btn btn-primary btn-small"
                name="wb-srch-sub"
              >
                <span class="fas fa-search"> </span>
                <span class="sr-only">
                  <ng-container *transloco="let t">
                    {{ t("search") }}
                  </ng-container>
                </span>
              </button>
            </div>
          </form>
        </section>
      </div>
    </div>
    <nav id="wb-bc" property="breadcrumb">
      <h2 class="wb-inv">
        <ng-container *transloco="let t">
          {{ t("you.are.here") }}
        </ng-container>
      </h2>
      <div class="container">
        <ol class="breadcrumb">
          <li><a [href]="'canada.link' | transloco">Canada.ca</a></li>
          <li>
            <a [href]="'ised.link' | transloco">
              <ng-container *transloco="let t">
                {{ t("ised.full.name") }}
              </ng-container>
            </a>
          </li>
          <li>
            <a href="/">
              <ng-container *transloco="let t">
                {{ t("app.title") }}
              </ng-container>
            </a>
          </li>
        </ol>
      </div>
    </nav>
  </header>
</div>
