<section>
  <h2>
    <ng-container *transloco="let t">
      {{ t("question", { number: 1 }) }}
    </ng-container>
  </h2>

  <p>
    <ng-container *transloco="let t">
      {{ t("question.symptoms") }}
    </ng-container>
  </p>
  <ul>
    <li *ngFor="let symptomId of listOfSymptomIds">
      <ng-container *transloco="let t">
        {{ t(symptomId) }}
      </ng-container>
    </li>
  </ul>
  <button
    type="button"
    class="btn btn-primary btn-question-response mr-4 py-2"
    (click)="onYes()"
  >
    <ng-container *transloco="let t">
      {{ t("yes") }}
    </ng-container>
  </button>
  <button
    type="button"
    class="btn btn-secondary btn-question-response py-2"
    (click)="onNo()"
  >
    <ng-container *transloco="let t">
      {{ t("no") }}
    </ng-container>
  </button>
</section>
