<section>
  <h2>Next Steps</h2>
  <p>
    This result is no longer valid if your situation changes during the day (for
    example, you start experiencing symptoms).
  </p>

  <h2>Occupational Health and Safety Tips</h2>
  <p>
    For more occupational health and safety related information, please visit
    the Departmental information on iService (only available on the internal
    network) or the
    <a [href]="'covid.19.page.link' | transloco">COVID-19 page</a>
    on Canada.ca.
  </p>
  <p>
    Remember when in the workplace to follow all protocols and instructions:
  </p>
  <ul>
    <li>Respect occupancy limits.</li>
    <li>Wear an approved mask.</li>
    <li>Practice physical distancing.</li>
    <li>Follow directional signage and floor markings.</li>
    <li>Sneeze and cough into your elbow.</li>
    <li>Use proper hand hygiene; wash your hands or use hand sanitizer.</li>
  </ul>
</section>
