<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <meta name="author" content="Innovation, Science and Economic Development" />
  <meta name="robots" content="nofollow, noindex" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css"
  />
</head>

<body>
  <app-header></app-header>
  <main
    property="mainContentOfPage"
    resource="#wb-main"
    typeof="WebPageElement"
    class="container"
    id="wb-cont"
  >
    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
  <script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
  <script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/js/theme.min.js"></script>
</body>
